<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Currículo Online</title>
  </head>
  <body>
    {% include 'includes/navbar.html' %}
    <div class="container-primary">
      <h1>MATEUS BEZERRA FERNANDES</h1>
      <div class="container-second">
        <h2>Sobre</h2>
        <p>
          Olá! Me chamo MATEUS BEZEERA, sou estudante de Sistema de Informação no
          IFCE, estou atualmente no meu 7° semestre da faculdade.
        </p>
        <!-- <a href="/sobre">
          <button>Sobre</button>
        </a> -->
      </div>

      <div class="container-second">
        <h2>editar_funcionarios</h2>
        <div>
          <h3>NADA NADA NADA</h3>
          <p>
            LKKKKKKKKKKKKKKKKKKKKKKKKKKK
          </p>
        </div>
        <div>
          <h3>TOPTOP</h3>
          <p>
           KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK
          </p>
        </div>
        <!-- <a href="/editar_funcionarios">
          <button>editar_funcionarios</button>
        </a> -->
      </div>

      <div class="container-second">
        <h2>adicionar_funcionarios</h2>
        <div>
          <h3>Bacharel em Sistemas de Informação</h3>
          <p>IFCE - Campus Cedro</p>
        </div>
        <div>
          <h3>PPPPPPPPPPPPPPPPPP</h3>
          <p>HHHHHHHHHHHHHHHHHHHHHH</p>
        </div>
        <!-- <a href="/adicionar_funcionarios">
          <button>adicionar_funcionarios</button>
        </a> -->
      </div>

      <div class="container-second">
        <h2>listfun</h2>
        <p><b>gggggg:</b> AAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
        <p><b>ggggggg</b>BBBBBBBBBBBBBBBBBBBBBBBB</p>
        <p><b>gggggggg</b> CCCCCCCCCCCCCCCCCCCCCCCCCCC</p>
        <p><b>gggggg</b> DDDDDDDDDDDDDDDDDDDDDDDDDDD</p>
        <p><b>ggggg</b> EEEEEEEEEEEEEEEEEEEEEEEEEEE</p>
        <p>
          <b>gggggg</b> FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF
        </p>
        <!-- <a href="/listfun">
          <button>listfun</button>
        </a> -->
      </div>
    </div>
    {% include 'includes/footer.html' %}
  </body>
</html>
