<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Currículo Online</title>
  </head>
  <body>
    {% include 'includes/navbar.html' %}
    <div class="container-primary">
      <h1>listar FUNCIONARIOS</h1>
      <div class="container-second">
        <div>
          <h3>TTOPTOPTOTP</h3>
          <p>
            KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK
          </p>
        </div>
        <div>
          <h3>TOPTOPTOTP</h3>
          <p>
           JJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJ
        </div>
        <!-- <a href="/">
          <button>Voltar</button>
        </a> -->
      </div>
    </div>
    {% include 'includes/footer.html' %}
  </body>
</html>